//- <section>
//-     <div id="carouselNavDots">
//-     <i class="fa-solid fa-circle dot" id="active-dot"></i>
//-     </div>
//-     <article class="carousel-slide">
//-         <img src="assets/imgs/signature.svg" alt="placeholder" width="100%">
//-         <section>
//-             <h3>project 1</h3>
//-             <p>i cloned my favourite website</p>
//-         </section>
//-         <section>
//-             <h4>tech stack:</h4>
//-             <ul>
//-             <li><i class="fa-brands fa-html5"></i></li>
//-             <li><i class="fa-brands fa-css3-alt"></i></li>
//-             <li><i class="fa-brands fa-js"></i></li>
//-             </ul>
//-         </section>
//-         </article>
//- </section>

// library of projects
-
    const projects = [
        {
            id: 1,
            name: "full website",
            description: "i designed and created my personal website",
            img: "./assets/imgs/personal-site-poster.svg",
            img_alt: "tjstoll signature poster",
            href: "#",
            tech_stack: ['html5', 'sass', 'gulp']
        },
        {
            id: 2,
            name: "shows api",
            description: "i built an app that let's you search shows",
            img: "./assets/imgs/shows-app-poster.svg",
            img_alt: "show api poster",
            href: "https://codepen.io/tjstoll/full/mdGqQbQ",
            tech_stack: ['html5','css3','js'], 
        },
        {
            id: 3,
            name: "javascript games",
            description: "i built some classic games using pure javascript",
            img: "./assets/imgs/js-games-poster.svg",
            img_alt: "javascript games poster",
            href: "https://codepen.io/collection/eJybxW",
            tech_stack: ['js']
        }];


section.carousel
    each project in projects
        - const tech_stack = project.tech_stack
        article.carouselSlide.inactiveSlide
            a(href=`${project.href}` target="_blank") 
                img(src=`${project.img}` alt=`${project.img_alt}`)
            section.carouselSlideInfo
                a(href=`${project.href}` target="_blank") 
                    h3
                        = project.name
                p
                    = project.description
                h4 tech stack:
                ul
                    each tech in tech_stack
                        li
                            i(class=`fa-brands fa-${tech}`)
div#carouselNavDots
    each project in projects
        button.carouselNavDot.inactiveDot
            i.fa-solid.fa-circle.dot